*
{
    /*font-family: 'Gloock', serif;*/
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    margin: 0 ;
    padding: 0;
}

header 
{
    height: 100px;
    
}

header h1{
    font-size: 50px;
    float: left;
    margin-top: 20px;
    padding-left: 20px;
}

#main-image 
{
    height: 500px;
    background: url(images/main.jpg) center;
    text-align: center;
 
}

ul 
{
    list-style: none;
    float: right;
    margin-top: 40px;
    
}

li
{
    display: inline-block;
    padding-right: 20px;
    
}

header a
{
text-decoration: none;
color: black;
font-weight: bold;
font-size: 20px;

}

a:hover
{
    color:orange;
}

.orange
{
    color: orange;
}

h2{
    padding-top: 100px;
    font-size: 70px;
    margin-bottom: 0px;
}

#Par_ici
{
    font-size: 20px;
    text-align: center;
    background-color: orange;
    margin-top: 50px;
    border-radius: 5px;
}

.container
{
    display: flex;
    height: 300px;
    justify-content: center;
    

    /*align-items: center;*/
}

.bloc
{
    /*display: inline-block;*/
    width: 300px;
    text-align: center;
    vertical-align: top;
    margin: 40px 20px 40px 20px
    
    
}


.container2
{
    display: flex;
    height: 400px;
    justify-content: center;
    background-color: rgba(129, 135, 138, 0.151);
}

.bloc2
{
    display: flex;
    height: 300px;
    width: 600px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 10px;
    justify-content: center;
    
    
}

.bloc3
{

    height: 250px;
    width: 300px;
    background-color: rgba(240, 229, 229, 0.055);
    text-align: center;
    margin-top:25px ;
    margin-bottom: 25px;
    border-radius: 10px;
    
    
}

.bloc3 img
{
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    
}

.bloc3 p{
    width: 70%;
    margin: 10px auto;
}

footer
{
    height: 200px;
    background-color: grey;
    text-align: center;
    
}

footer h1{
    font-size: 50px;
    padding-top: 50px;
}

footer p{
    font-size: 15px;
    padding-top: 10px;
    color: white;
}

button
{
    padding: 5px 20px;
}